---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// h2.person {
//   margin-bottom: 30px;
//   padding-bottom: 20px;
// }

div.news {
  font-size: 10pt;
}
div.person {
  width: 90%;

  // margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-bottom: 20px;

  border-bottom: 1px solid #ccc;
}

div.person h3 {
  margin-top: 0;
  font-size: 1.3em;
}

div.person div {
  display: inline-block;
}

div.profile-img img{
  border-radius: 10px;
}

div.profile-text{
  // margin-top: -2em;
  margin-left: 20px;
  width: 26em;
  vertical-align: top;

}

div.profile-text p{
  margin-bottom: 0;
  font-size: 0.95em;
}

div.profile-text p.links{
  text-decoration: none;
  margin-bottom: 5px;
  color: grey;
  font-size: 0.85em;
}

div.profile-text p.links a{
  color: #A0C3FF;
}

.page-publications article {
  width: 100%;
}

.user-avatar {
  width: 220px;
  height: 220px;
  display: block;
}
/*  PROJECTS */
.projects-page {
  padding:2rem;
}
