---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// h2.person {
//   margin-bottom: 30px;
//   padding-bottom: 20px;
// }

//navigation
@media (min-width: 80em){
div.masthead__inner-wrap {
  max-width: 98%;
}
}

//home page, index page
@media (min-width: 80em){
  #main {
    max-width: 98%;
  }
  

  #main .sidebar {
   width: calc(500px - 1em)
  }

  #main article.page {
    width: calc(100% - 500px);
  }
}

// profile page
.initial-content {
  margin: 2rem;
}

div.person {
  width: 90%;

  margin-left: 6%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-bottom: 20px;

  border-bottom: 1px solid #ccc;
}

div.person h3 {
  margin-top: 0;
  font-size: 1.3em;
}

div.person div {
  display: inline-block;
}

div.profile-img img{
  border-radius: 10px;
}

div.profile-text{
  // margin-top: -2em;
  margin-left: 20px;
  width: 26em;
  vertical-align: top;

}

div.profile-text p{
  margin-bottom: 0;
  font-size: 0.95em;
}

div.profile-text p.links{
  text-decoration: none;
  margin-bottom: 5px;
  color: grey;
  font-size: 0.85em;
}

div.profile-text p.links a{
  color: #A0C3FF;
}

/*  PROJECTS */
.projects-page {
  padding:2rem;
}

div.publication {
    margin-bottom: 12px;
}
